<!DOCTYPE html>
<html lang="es" ng-app="MyApp" ng-controller="PrincipalController as app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso de AngularJS</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <!-- <app-menu on-selecionado="app.selecciona(seleccionado)"></app-menu> -->
    <p>
        <a href="#!/inicio">inicio</a>&nbsp;|&nbsp;
        <a href="#!/como/me/de/la/gana">Demo2</a>&nbsp;|&nbsp;
        <a href="#!/como/pagina.html">Demo3</a>&nbsp;|&nbsp;
        <a href="#!/personas">personas</a>&nbsp;|&nbsp;
        <a href="#!/inventada">inventada</a>&nbsp;|&nbsp;
    </p>
    <app-notification></app-notification>    

    <h1 class="anima" ng-show="app.visible">Curso de Angular</h1>
    <input type="button" value="cambia" ng-click="app.visible = !app.visible;">

    <!-- <ng-include src="app.seleccionado"></ng-include> -->
    <div ng-view></div>

    <script type="text/ng-template" id="views/notification.html">
        <div>
            <div class="notificaciones" ng-if="vm.notify.hayMensajes">
                <ul>
                    <li ng-repeat="item in vm.notify.listado">
                        {{item.message | capitalize}}
                        <button type="button" ng-click="vm.notify.remove($index)">X</button>
                    </li>
                </ul>
                <p class="center">
                    <input type="button" value="Cerra"
                        ng-click="vm.notify.clear()">
                </p>
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="views/demos.html">
        <div>
            <p>
                <input type="text" ng-model="vm.nombre">
                <input type="button" value="saluda" ng-click="vm.saluda()">
                <input type="button" value="despide" ng-click="vm.despide()">
                <input type="button" value="login" ng-click="vm.auth.login('admin', '1234567890')">
                <input type="button" value="logout" ng-click="vm.auth.logout()">
                <input type="button" value="notifica" ng-click="vm.notifica()">
            </p>
            <p ng-bind="vm.resultado"></p>
        </div>
    </script>
    <!-- Framewoks -->
    <script src="vendor/angularjs/angular.js"></script>
    <script src="vendor/angularjs/i18n/angular-locale_es-es.js"></script>
    <script src="vendor/angularjs/angular-animate.js"></script>
    <script src="vendor/angularjs/angular-route.js"></script>

    <!-- Mi código -->
    <script src="js/my-core.js"></script>
    <script src="js/app.js"></script>
    <script src="js/personas.js"></script>
</body>

</html>