<h3 my-remarcado="red">Hola {{app.auth.usuario}}</h3>
<my-saludo nombre="Ciudad Real"></my-saludo>
<my-card titulo="Lorem, ipsum dolor">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sapiente architecto sequi voluptatem consectetur placeat unde commodi ad ipsum, ex autem tempore illum beatae ullam nam minima eligendi hic nulla?</my-card>
<my-tabs>
    <my-pane title="Hello">
        <p>Lorem ipsum dolor sit amet</p>
    </my-pane>
    <my-pane title="World">
        <em>Mauris elementum elementum enim at suscipit.</em>
    </my-pane>
    <my-pane title="Otro">
        <em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi temporibus quod quasi illo ipsa, fuga labore autem aliquid iusto qui eos in, recusandae dolores, consectetur adipisci sit aperiam! Aliquam, itaque!</em>
    </my-pane>
</my-tabs>
