<div ng-controller="PersonasController as vm">
    <h1>Mantenimiento de Personas</h1>
    <div ng-switch on="vm.modo">
        <div ng-switch-when="list">
            <table>
                <tr>
                    <th>Nombre</th>
                    <td><input type="button" value="Añadir" confirm="vm.add()">
                        <input type="button" value="Actualizar" ng-click="vm.list()"></td>
                </tr>
                <tr ng-repeat="item in vm.listado">
                    <td>{{item.nombre}} {{item.apellidos}}</td>
                    <td>
                        <input type="button" value="Ver" ng-click="vm.view(item.id)">
                        <input type="button" value="Editar" ng-click="vm.edit(item.id)">
                        <input type="button" value="Borrar" confirm="vm.delete(item.id)" 
                            confirm-msg="Los datos no se podran recuperar. ¿Continuo?">
                    </td>
                </tr>
            </table>
        </div>
        <div ng-switch-when="view">
            <p>
                Código:
                {{vm.elemento.id}}
                <br />
                Nombre:
                {{vm.elemento.nombre}}
                <br />
                Apellidos:
                {{vm.elemento.apellidos}}
                <br />
                Edad:
                {{vm.elemento.edad}}
                <br />
                N.I.F.:
                {{vm.elemento.NIF}}
            </p>
            <p>
                <input type="button" value="Volver" ng-click="vm.cancel()">
            </p>
        </div>
        <form name="miForm" ng-switch-default>
            <p>
                <span ng-if="vm.modo === 'add'">
                    <input lbl-title="Código" type="text" id="id" name="id" ng-model="vm.elemento.id"
                           required val-integer>
                    <span class="error" ng-show="miForm.id.$error.required && miForm.$dirty">
                    Es obligatorio.
                    </span>
                    <span class="error" ng-show="miForm.id.$error.valInteger && miForm.$dirty">
                    Tiene que ser un número.
                    </span>
                </span>
                <span ng-if="vm.modo !== 'add'">
                    Código: {{vm.elemento.id}}
                </span>
                <br />
                <input lbl-title="Nombre" class="campo" type="text" id="nombre" name="nombre" ng-model="vm.elemento.nombre"
                       required ng-minlength="2" ng-maxlength="10">
                <span class="error" ng-show="miForm.nombre.$error.required">
                    Es obligatorio.
                </span>
                <span class="error" ng-show="miForm.nombre.$error.minlength || miForm.nombre.$error.maxlength">
                Debe tener entre 2 y 10 letras.
                </span>
                <br />
                <input lbl-title="Apellidos" type="text" id="apellidos" name="apellidos" ng-model="vm.elemento.apellidos"
                       ng-minlength="2" ng-maxlength="10">
                <span class="error" ng-show="miForm.apellidos.$error.minlength || miForm.apellidos.$error.maxlength">
                    Debe tener entre 2 y 10 letras.
                </span>
                <br />
                <input lbl-title="Edad" type="number" id="edad" name="edad" ng-model="vm.elemento.edad"
                       min="18" max="67">
                <span class="error" ng-show="miForm.edad.$error.min || miForm.edad.$error.max">
                    Debe estar entre los 18 y 67 años.
                </span>
                <br />
                <input lbl-title="N.I.F." type="text" id="NIF" name="NIF" ng-model="vm.elemento.NIF"
                    val-nif>
                <span class="error" ng-show="miForm.NIF.$error.valNif">
                    Número de identificador fiscal incorrecto.
                </span>
            </p>
            <p>
                <input type="button" value="Enviar" ng-click="vm.send()" 
                       ng-disabled="miForm.$invalid">
                <input type="button" value="Volver" ng-click="vm.cancel()">
            </p>
        </form>
    </div>
</div>